.list{
    list-style-type:none;
}
.link{
    text-decoration:none;
}
button{
    cursor: pointer;

}

.body-main{
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #434455;

}
/*navigation + header*/

.header-main{
}

/*.main-nawigation{}*/

.main-logo{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo{
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
   
    letter-spacing: 0.03;
    text-transform: uppercase;
}
.span-main{
    color: #2e2f42;
}


/*.menu{

}*/

.menu-item{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02;
}

.main-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color:#2e2f42;
    color: hover #404bbf;
    color: focus #404bbf;
    color: #404bbf;
    color: #404bbf;
}
/* adress */

.main-adress{
    font-style: normal;
}
.menu-adres{}

.main-link-adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
    
.main-link-adress:hower  {
        color: #404bbf;
        }

.main-link-adress:focus{
    color: #404bbf;
}


.menu-adress-item{
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
   
    letter-spacing: 0.02;
}

/*Section 1*/

.main-section-one{
    background-color: #2e2f42; 
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    letter-spacing: 0.02;
}
.title-efectiwe{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em; 
}



.button-main{
    color: var(--WHITE, #FFF);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.64px;
    background: var(--IRIS, #4D5AE5);
    padding: 16px 32px;
    gap: 10px;
    font-weight: 500;
    line-height: 1.5;

    color: var(--WHITE, #FFF);
}

/* Section 2*/

.section-benefits{
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    letter-spacing: 1.12px;
}
.title-two{ 
    font-weight: 500;
    line-height: 1.2;
}
/*.menu-item{}*/

.three-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 1.2;
}
.paragraph{
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.32px;
    line-height: 1.5;
 }
 
 /* section 3*/


.section-three-main{
     flex-shrink: 0;
     background: var(--CLOUD, #F4F4FD);
}

.title-two{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    font-weight: 500;
}
.menu-list{
    background-color: #FFFFFF;
    }

/*.list{}*/


/*.menu-item: */

.foto{
justify-content: center;
background: var(--WHITE, #FFF);}

.three-title-foto{

    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 1.2;
}


.paragraph-foto{
    color: var(--SLATE, #434455);
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.32px;
    letter-spacing: 0.02em;
    color: #434455;

}

/* Section 4*/

/*.section-four-main{}*/

.title-portfolio{

    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;  
}


/*
.menu{}
.menu-item{}*/
.foto-google{
    align-items: flex-start;
    flex-shrink: 0;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.three-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
/*.paragraph{} */

/* Footer*/

.basement{
    background-color: #2e2f42;
    

}
.link-basement{

    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.span-basement{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.logo-main-studio{
    display: inline-flex;
    flex-shrink: 0;

}


.paragraph-basement{
    color: var(--CLOUD, #F4F4FD);

    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}

.basement-logo{
    color: var(--CLOUD, #F4F4FD);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0.54px;
    text-transform:uppercase;
    justify-content: center;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}


